<div class="about">
<h1 class="about-title">About</h1>
    <p class="about-text">
      当サイトはバスケットボール専門のコミュニティーサイトです。<br>
	  個人やチームとして利用することができます。<br>
	  所属するチームの人数を集めたい方、バスケットボールがしたい方<br>
	  どなたでも、ご利用できます。<br>
	  ぜひ、ご活用してください。<br>
  </p>
  <%= image_tag 'coat.png', size: '400x200' %>
</div>