<div class="top">
	<%= image_tag ('images/about.png'), size: '400x200' %>
<h1 class="top-title">ようこそ、BubbleBallへ</h1>
    <p class="top-text">
      会員様はログイン画面へお進みください。<br>
	  会員登録がお済みではない方は、新規会員登録のページで会員登録をしてください。<br>
	  当サイトの詳細はaboutページに記載があります。<br>
	  ぜひご利用してください。<br>
  　</p>
</div>